<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.AreaMapper">


	<select id="areaList" resultType="kr.smhrd.entity.Service_areas">
		select * from service_areas
	</select>
	
	<select id="getArea" resultType="kr.smhrd.entity.Service_areas">
		select * from service_areas limit 5
	</select>
	
	<select id="getSearchServiceArea" parameterType="kr.smhrd.entity.Service_areas" resultType="kr.smhrd.entity.Service_areas">
		select * from service_areas where service_name = #{service_name}
	</select>
</mapper>