<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.OrderHistoryMapper">

	<select id="orderhistory"   parameterType="int" resultType="kr.smhrd.entity.Orders">
		select me from orders where mb_id = (select store_id from stores where store_cate ="식사" and service_idx = #{i})
	</select>

</mapper>